html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
    table-layout: fixed;
  width: 100%;
}


[hidden] {
  opacity: 0;
  visibility: hidden;
}

noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

[tabindex="-1"] {
  outline: none !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: start;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", Arial, sans-serif;
  background: var(--bg);
  color: var(--font-color);
  font-size: 15px;
}
main {

  width: 100%;
}
:root {
  --border: 1px solid #ebebf3;
  --box-shadow: 0 0 10px rgb(0 0 0 / 3%);
  --box-shadow-lg:0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 6px 6px 2px rgb(60 64 67 / 15%);
  --bg: #f2f6f8;
  --primary-dark: hsl(279deg 100% 40%);
  --primary-main: #9e00f3;
  --primary-light: #f0e6f6;
  --black: hsl(0deg 0% 0% / 90%);
  --light-black: rgba(0, 0, 0, 0.7);
  --font-color: hsl(0deg 0% 0% / 75%);
  --light-gray: #eaeaea;
    --gray: #aaa;
    --dark-gray: #575757;
  --gray: #aaa;
  --border-radius: 4px;
  --border-radius-md: 8px;
  --padding-lg: 30px;
  --padding: 20px;
  --padding-sm: 10px;
  --padding-xs: 5px;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
svg:hover  #text{
  fill:var(--primary-main)
}
h1,
.title-1 {
  font-size: 27px;
  line-height: 1em;
  font-weight: 400;
  text-transform: capitalize;
}
h2,
.title-2 {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 600;
}
h3,
.title-3 {
  font-size: 17px;
  font-weight: 600;
  margin: 1em 0;
}
img{
  transition: all 0.4s ease;
}
img:hover,.post:hover img{
  transform: scale(1.1);
}
a:focus-visible,
pre a:focus-visible {
  outline: none;
  text-decoration: underline 2px solid;
  text-underline-offset: 3px;
  text-decoration-color: var(--primary-main);
}
a:hover,
a:focus-visible {
  color: var(--primary-main);
}

button {
  padding: 1px 2px;
  cursor: pointer;
}
figcaption {
  margin: var(--padding-sm) 0 var(--padding);
  font-size: 13px;
  color: var(--dark-gray);
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.pre {
  white-space: pre-wrap;
}
.pre img:hover{
  transform: none;
}
.pre a {
  color: var(--primary-main);
}
.pre a:hover {
  text-decoration: 1px solid underline;
  text-underline-offset: 2px;
}
.pre blockquote {
  border-left: 4px solid var(--primary-main);
  padding-left: var(--padding-sm);
  margin: 40px var(--padding) 40px;
}
.pre blockquote p {
  font-size: 13px;
  line-height: 2em;
}
.pre blockquote b {
  font-size: 20px;
}
.pre b {
  font-weight: 600;
}
.pre h2 {
  margin: 1em 0 0.5em;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
*:focus-visible {
  outline: 2px solid var(--primary-main);
}

@media (min-width: 768px) {
  h1,
  .title-1 {
    font-size: 30px;
  }
  h2,
  .title-2 {
    font-size: 26px;
  }
  .pre h2 {
    font-size: 24px;
  }
}

@keyframes blink {
  0%,

  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 10px;
  height: 50px;
  cursor: default;
  border: 1px solid transparent;
}

@media (min-width:1024px) {
  *::-webkit-scrollbar {
    display: block;
  }
}
iframe {
  overflow: hidden;
}